{% extends 'master.html' %}
{% block content %}

    {% include 'navbar/navbar-share.html' %}

	<!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<form method="post" action="place_order">
    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">

                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input name="fName" class="form-control" type="text" placeholder="Vong">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input name="lName" class="form-control" type="text" placeholder="Panha">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input name="email" required class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input name="phone" class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City/Province</label>
                            <select name="city" required class="custom-select">
                                <option>Banteay Meanchey</option>
                                <option>Battambang</option>
                                <option>Kampong Cham</option>
                                <option>Kampong Chhnang</option>
                                <option>Kampong Speu</option>
                                <option>Kampong Thom</option>
                                <option>Kampot</option>
                                <option>Kandal</option>
                                <option>Kep</option>
                                <option>Koh Kong</option>
                                <option>Kratié</option>
                                <option>Mondulkiri</option>
                                <option>Oddar Meanchey</option>
                                <option>Pailin</option>
                                <option>Preah Vihear</option>
                                <option>Pursat</option>
                                <option>Prey Veng</option>
                                <option>Ratanakiri</option>
                                <option>Siem Reap</option>
                                <option>Sihanoukville</option>
                                <option>Stung Treng</option>
                                <option>Svay Rieng</option>
                                <option>Takéo</option>
                                <option>Tboung Khmum</option>
                                <option selected>Phnom Penh</option>

                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label>Address</label>
                            <textarea required name="addr" class="form-control" type="text" placeholder="123 Street"></textarea>
                        </div>
                    </div>

                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>

                        <div id="item_box">
                            <div class="d-flex justify-content-between">
                                <p>Colorful Stylish Shirt 1</p>
                                <p>$150</p>
                            </div>
                        </div>

                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium" >$<span id="lable_SubTotal_uds">$150</span></h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <li class="list-group mb-2">
                            <h5 class="font-weight-bold">$<span id="lable_Total_uds">$160</span></h5>
                            <h5 class="font-weight-bold">៛<span id="lable_Total_khr">$160</span></h5>
                            </li>

                        </div>
                        <a href="/cart">Back to card</a>
                    </div>
                </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                    <label class="custom-control-label" for="directcheck">Direct Check</label>
                                </div>
                            </div>
                            <input type="hidden" id="cart_item" name="cart_item"/>


                            <div class="">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                    <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</form>
    <!-- Checkout End -->
{% endblock %}


{% block customScripts %}
    <script>

        let item_box = document.getElementById('item_box')
        let carts = JSON.parse(localStorage.getItem('carts') ?? '[]')
        document.getElementById('cart_item').value = JSON.stringify(carts)
        let cart_item = ``
        let total = 0
        carts.forEach((item, index)=>{
            total+=(item.price * item.qty)
            cart_item += `
                 <div class="d-flex justify-content-between">
                    <p>${item.title}</p>
                    <p>${item.price} x ${item.qty}</p>
                    <li class="list-group mb-4">
                    <strong>$${(item.price*item.qty)}</strong>
                    </li>
                 </div>
            `
        })

        item_box.innerHTML = ''
        item_box.innerHTML = cart_item
        total_khr= Math.ceil(total * 4100 / 100) * 100
        document.getElementById('lable_SubTotal_uds').innerText = total.toFixed(2)
        document.getElementById('lable_Total_uds').innerText = `${(total+10).toFixed(2)}`
        document.getElementById('lable_Total_khr').innerText = `${(total_khr).toLocaleString()}`
    </script>
{% endblock %}